<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="NSB_AWS.SQL.NHibernatePersistence" connectionString="Server=.;Initial Catalog=NSB_AWS_SQL;Integrated Security=True" />
    <add name="NSB_AWS.SQL.SqlServerTransport"    connectionString="Server=.;Initial Catalog=NSB_AWS_SQL;Integrated Security=True" />
    <add name="NSB_AWS.SQS.NHibernatePersistence" connectionString="Server=.;Initial Catalog=NSB_AWS_SQS;Integrated Security=True" />
    <add name="NSB_AWS.SQS.SqlServerTransport"    connectionString="Server=.;Initial Catalog=NSB_AWS_SQS;Integrated Security=True" />
  </connectionStrings>
  <appSettings>
    <add key="transportType" value="2" />
    <add key="S3BucketName" value="ramon-sqs" />
    <add key="S3KeyPrefix" value="support/20180629" />
    <add key="EndPointName" value="NSB.Subscriber2" />
    <add key="LogPath" value="..\Logs\" />
    <add key="LogLevel" value="Info" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Iesi.Collections" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
